@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

.slick-slide {
  padding: 5px;
  margin-bottom: 23px;
}

.slick-track {
  display: inline-block !important;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slick-list {
  overflow: hidden;
  width: 80vw !important;
}

.ExclusiveProductColumn {
  text-align: center;
  padding: 6px !important;
  margin-top: 20px;
  margin-left: 44px;
  width: 242px !important;
  height: auto !important;
}

.btn-dark-product-exclusive {
  padding: 5px 20px 5px 20px;
  border-radius: 7px !important;
  font-weight: bolder;
  margin-left: 250px;
}

.price-exclusive-product {
  font-weight: bolder !important;
  font-size: 18px !important;
  font-style: italic;
  font-family: "Montserrat", sans-serif !important;
}

.name-exclusive-product {
  font-weight: bolder !important;
  font-size: 20px !important;
}
