@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';


.slick-slide {
  padding: 5px;
  margin-bottom: 23px;
}

.slick-track {
  display: inline-block !important;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slick-list {
  overflow: hidden;
  width: 1283px !important;
}

.ExclusiveProductColumn {
  text-align: center;
  padding: 0px !important;
  margin-top: 20px;
  margin-left: 44px;
  width: 232px !important;
  height: auto !important;
  box-shadow: 4px 4px 10px -6px rgba(255,255,255,255);
}

.btn-dark-product-exclusive{
  padding: 5px 20px 5px 20px;
  border-radius: 7px !important;
  font-weight: bolder;
  margin-left: 250px;
}


.title-exclusive-product {
  margin-left: 12px;
}



.price-exclusive-product {
  font-weight: bolder !important;
  font-size: 18px !important;
  color: #A7846B !important;
  font-style: italic;
  font-family: 'Montserrat', sans-serif !important;
}

.name-exclusive-product {
  font-weight: bolder !important;
  font-size: 17px !important;
  font-style: italic;
  font-family: 'Montserrat', sans-serif !important;
}