#ItemContainer {
  max-width: 75%;
}
.Item {
  background-color: black !important;
  max-width: 100%;
}

.Item img {
  object-fit: cover;
}

.text-product {
  font-size: 1rem;
  margin-right: 10px;
}

.div-text-description {
  margin: auto 0;
}

.text-description {
  font-weight: bold;
  text-align: justify;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.div-text-caracterics {
  margin-top: 0.4rem;
  margin-left: 0.2rem;
  list-style-type: disc !important;
}


.li-caracterics-product {
  list-style: square !important;
  letter-spacing: 0.6px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}

.ul-caracterics {
  text-align: start;
  font-size: 0.875rem;
}

.logo {
  max-width: 20%;
}

.price-product{
  text-align: start !important;
  font-size: 0.875rem !important;
  color: #369f19 !important;
  letter-spacing: 2px !important;
  font-weight: bolder !important;
  margin-top: 3px;
  margin-left: 16%;
  margin-bottom: 0% !important;
  margin-right: 0% !important;
}
