#ItemContainer {
  max-width: 75%;
}
.Item {
  background-color: var(--black);
  max-width: 100%;
}

.Item img {
  object-fit: cover;
}

.text-product {
  font-size: 1rem;
  margin-right: 10px;
}

.div-text-description {
  margin: auto 0;
}

.text-description {
  font-weight: bold;
  text-align: justify;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.div-text-caracterics {
  margin-top: 0.5rem;
}

.li-caracterics-product {
  list-style: disc;
  letter-spacing: 0.6px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
}

.ul-caracterics {
  text-align: start;
  margin-bottom: 0;
  font-size: 0.875rem;
}
.logo {
  max-width: 20%;
}
